
/* Navbar.css */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #38a169, #4299e1, #38b2ac);
  opacity: 0.9;
  padding: 1rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

.navbar.open {
  transform: translateY(0);
}

.navbar.closed {
  transform: translateY(100%);
}

.hamburger {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  background: #38a169;
  color: white;
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
  border: none;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #e2e8f0; /* Couleur au survol */
}

.nav-link span {
  font-size: 12px;
  margin-top: 4px;
}

